.bg-white {
  background-color: #fff;
  padding: 3px;
  border-radius: 3px;
  width: 80px;
}

.xxl {
  font-size: 30px;
  color: #fff;
}

ul.flex li a {
  color: #fff;
  font-size: 17px;
}

body {
  width: 100vw;
}

.container-body {
  padding: 30px 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.nnn {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.www {
  width: 200px;
  height: 150px;
  margin-right: 20px;
  padding: 10px;
}