.bg-white {
  background-color: #fff;
  padding: 3px;
  border-radius: 3px;
  width: 80px;
}

.xxl {
  font-size: 30px;
  color: #fff;
}

ul.flex li a {
  color: #fff;
  font-size: 17px;
}

.container {
  padding: 10px 10%;
}